.App {
  /*text-align: center;*/
}

header.ant-layout-header {
  padding: 0 25px;
  display: flex;
}
.logo-container img {
  width: 140px;
}
.logo-container {
  padding-right: 2rem;
}



.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  width: 300px;
  height: 300px;
}

.chrome-picker {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 2px, rgba(0, 0, 0, 0.08) 0px 4px 8px !important;
}

.graphql-voyager {
  position: relative;
}
.graphql-voyager .type-doc>.type-info-popover {
  display: none;
}
